:root {
  --vp-c-accent: #1199cb;
  --vp-c-accent-bg: #1199cb;
  --vp-c-accent-hover: #1F71CB;
  --vp-c-accent-soft: rgb(31 113 203 / 16%);
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-gutter: var(--vp-c-accent);
}

[data-theme='dark'] {
  --vp-c-accent: #1199cb;
  --vp-c-accent-bg: #1199cb;
  --vp-c-accent-hover: #1F71CB;
  --vp-c-accent-soft: rgb(31 113 203 / 16%);
  --vp-c-gutter: var(--vp-c-accent);
}